In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df= pd.read_pickle('/content/drive/MyDrive/data_prep.txt')

**Sentiment analysis using text Blob**

In [ ]:
from textblob import TextBlob

In [ ]:
df['polarity'] = df['Review'].apply(lambda x: (TextBlob(x).sentiment.polarity))
df.head()

,Review,Rating,Sentiment,char_count,Word_count,Average_Word_Length,Clean,Review_lists,polarity
0,nice hotel expensive parking got good deal sta...,4,1,593,87,6.816092,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...",0.208744
1,ok nothing special charge diamond member hilto...,2,0,1689,250,6.756000,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...",0.214923
2,nice rooms not 4* experience hotel monaco seat...,3,0,1427,217,6.576037,nice rooms 4 experience hotel monaco seattle g...,"[nice, rooms, 4, experience, hotel, monaco, se...",0.294420
3,"unique, great stay, wonderful time hotel monac...",5,1,600,89,6.741573,unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ...",0.504825
4,"great stay great stay, went seahawk game aweso...",5,1,1281,191,6.706806,great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game...",0.384615

In [ ]:
def polarity_to_Sentiment(x):
    if (x >= -1  and x <= 0):
        return 0
    if (x > 0 and x<=1):
        return 1

In [ ]:
df["text_blob_sent"] = df.polarity.apply(polarity_to_Sentiment)

In [ ]:
df.head()

,Review,Rating,Sentiment,char_count,Word_count,Average_Word_Length,Clean,Review_lists,polarity,text_blob_sent
0,nice hotel expensive parking got good deal sta...,4,1,593,87,6.816092,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...",0.208744,1
1,ok nothing special charge diamond member hilto...,2,0,1689,250,6.756000,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...",0.214923,1
2,nice rooms not 4* experience hotel monaco seat...,3,0,1427,217,6.576037,nice rooms 4 experience hotel monaco seattle g...,"[nice, rooms, 4, experience, hotel, monaco, se...",0.294420,1
3,"unique, great stay, wonderful time hotel monac...",5,1,600,89,6.741573,unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ...",0.504825,1
4,"great stay great stay, went seahawk game aweso...",5,1,1281,191,6.706806,great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game...",0.384615,1

**Sentiment analysis using Vader**

In [ ]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [ ]:
df['scores'] = df['Review'].apply(lambda review: sid.polarity_scores(review))

In [ ]:
df['compound']  = df['scores'].apply(lambda score_dict: score_dict['compound'])

In [ ]:
df['neg']  = df['scores'].apply(lambda score_dict: score_dict['neg'])

In [ ]:
df['pos']  = df['scores'].apply(lambda score_dict: score_dict['pos'])

In [ ]:
df.head()

,Review,Rating,Sentiment,char_count,Word_count,Average_Word_Length,Clean,Review_lists,polarity,text_blob_sent,scores,compound,neg,pos
0,nice hotel expensive parking got good deal sta...,4,1,593,87,6.816092,nice hotel expensive parking got good deal sta...,"[nice, hotel, expensive, parking, got, good, d...",0.208744,1,"{'neg': 0.072, 'neu': 0.643, 'pos': 0.285, 'co...",0.9747,0.072,0.285
1,ok nothing special charge diamond member hilto...,2,0,1689,250,6.756000,ok nothing special charge diamond member hilto...,"[ok, nothing, special, charge, diamond, member...",0.214923,1,"{'neg': 0.11, 'neu': 0.701, 'pos': 0.189, 'com...",0.9787,0.110,0.189
2,nice rooms not 4* experience hotel monaco seat...,3,0,1427,217,6.576037,nice rooms 4 experience hotel monaco seattle g...,"[nice, rooms, 4, experience, hotel, monaco, se...",0.294420,1,"{'neg': 0.081, 'neu': 0.7, 'pos': 0.219, 'comp...",0.9889,0.081,0.219
3,"unique, great stay, wonderful time hotel monac...",5,1,600,89,6.741573,unique great stay wonderful time hotel monaco ...,"[unique, great, stay, wonderful, time, hotel, ...",0.504825,1,"{'neg': 0.06, 'neu': 0.555, 'pos': 0.385, 'com...",0.9912,0.060,0.385
4,"great stay great stay, went seahawk game aweso...",5,1,1281,191,6.706806,great stay great stay went seahawk game awesom...,"[great, stay, great, stay, went, seahawk, game...",0.384615,1,"{'neg': 0.135, 'neu': 0.643, 'pos': 0.221, 'co...",0.9797,0.135,0.221

In [ ]:
df.to_pickle('/content/drive/MyDrive/data_prep2.txt')